.task-form {
    width: 100%;

}

.action-btns {
    margin-top: 10px;
    float: right;
}

.action-btns button {
    margin-left: 8px;
}

/* task details */
.task-detail {
    display: block;
}

.task-detail-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-detail-container {
    width: 50%;
    min-width: 320px;
    max-width: 600px;
    min-height: 100px;
    background-color: #ffda9b;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 300px;
    /* Adjust width as needed */
}

textarea {
    width: 100%;
    /* Adjust width as needed */
    height: 150px;
    /* Adjust height as needed */
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    /* Allow vertical resizing */
    font-family: Arial, sans-serif;
    font-size: 16px;
}

textarea:focus-visible,
input[type="datetime-local"]:focus-visible {
    outline-color: orange;
    outline-offset: 1px;
}

textarea,
input[type="datetime-local"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}